<div class="wrapper">
    <div class="master container">
        {{outlet}}
    </div>
    <div class="detail container">
        <div class="detail_header">
            {{#if model.selectedNote}}
                {{input type="text" value=model.selectedNote.title}}
            {{/if}}
        </div>
        <div class="detail_content">
            {{#unless model.selectedNote}}
                <div class="default_note">
                    +<br/>Note
                </div>
            {{/unless}}
            {{outlet detail}}
        </div>
    </div>
</div>
