<div class="detail_header">
    {{input type="text" value=model.title}}
</div>
<div class="detail_content">
    <div class="date">{{model.date}}</div>
    <div class="note">
        {{textarea value=model.content}}
    </div>
</div>